:root {


    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-yellow: hsl(39, 100%, 56%);
    --clr-primary-teal: hsl(166, 100%, 37%);
    --clr-primary-cobalt-blue: hsl(234, 85%, 45%);

    --clr-gradient100-bg:hsl(252, 100%, 67%);
    --clr-gradient300-bg:hsl(241, 81%, 54%);

    --clr-circle100: hsla(256, 72%, 46%, 1);
    --clr-circle900: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-blue100: hsl(221, 100%, 96%);
    --clr-neutral-lavender: hsl(241, 100%, 89%);
    --clr-neutral-blue900: hsl(224, 30%, 27%);

    /* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`. */

    --fs-paragraphs: 1.125rem;
    --ff-primary: "Hanken Grotesk", sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-exbold: 800;

    --opacity-primary: 0.6;
}

*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

html {
    font-size: 16px;
    font-family: var(--ff-primary);
}

p {
    font-size: var(--fs-paragraphs);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    max-width: 40rem;
    aspect-ratio: auto ;
    border-radius: 30px;
    box-shadow: 5px 5px 6px rgba(0,0,0, 0.1);
}

.grid-flow {
    width: 100%;
    padding: 1.9rem;
    display: grid;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--clr-gradient100-bg), var(--clr-gradient300-bg));
    border-radius: 30px;
    text-align: center;
    color: var(--clr-neutral-white);
}

.result h2 {
    opacity: var(--opacity-primary);;
}

.result .score {
    background: linear-gradient(var(--clr-circle100), var(--clr-circle900));
    display: grid;
    place-content: center;
    width: 12.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 4.5rem;
    font-weight: var(--fw-bold);
    padding: 1rem;
    
}

.score > span {
    font-size: 1rem;
    opacity: var(--opacity-primary);;
    font-weight: var(--fw-bold);
}

.result-info p {
    margin-block: 1rem;
    opacity: var(--opacity-primary);;
}

.summary {
    gap: 15px;
}

.summary-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 15px;
}

.flex-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: none;
}

.summary-item-1 {
    background-color: hsla(0, 100%, 67%, 0.1);
}
.summary-item-1 h3 {
    color: var(--clr-primary-red);
}

.summary-item-2 {
    background-color: hsla(39, 100%, 56%,0.1);
}

.summary-item-2 h3 {
    color: var(--clr-primary-yellow);
}

.summary-item-3 {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.summary-item-3 h3 {
    color: var(--clr-primary-teal);
}

.summary-item-4 {
    background-color: hsla(234, 85%, 45%,0.1);
} 

.summary-item-4 h3 {
    color: var(--clr-primary-cobalt-blue);
}

.summary-score {
    font-weight: var(--fw-bold);
}

.summary-score > span {
    opacity: 0.5;
}


button {
    background-color: var(--clr-neutral-blue900);
    color: var(--clr-neutral-white);
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: var(--fw-medium);
    border-radius: 30px;
    border: none;
    transition: transform 1s ease;
    margin-top: 1rem;
}

button:hover {
    background: linear-gradient(var(--clr-gradient100-bg), var(--clr-gradient300-bg));
    cursor: pointer;
    transform: translateY(-5px);
}


@media (max-width: 545px) {
    body {
        align-items: flex-start;
    }

    .container {
        flex-direction: column;
        max-width: 100%;
        border-radius: 0px;
    }

    .result {
        border-radius: 0px 0px 30px 30px;
    }

    .result-info {
        width: 90%;
    }

    .summary-group {
        padding: 1rem;
    }
    
    button {
        padding: 1rem;
    }
}




